.grid-layout-emp {
    margin-top: 30px;
    margin-left: 500px;
    margin-right: auto;
    grid-template-rows: 27px 27px 27px 27px 27px;
    display: grid;
    row-gap: 18px;
}

.grid-layout-ser {
  margin-top: 30px;
  margin-left: 500px;
  margin-right: auto;
  grid-template-rows: 27px 27px;
  display: grid;
  row-gap: 18px;
}

.grid-layout-emp font {
    margin-left: 115px;
}

.grid-layout-ser font {
    margin-left: 115px;
}

.text-input-emp-ser {
    width: 40%;
    height: 35px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid gray;
}

.add-btn {
    background-color: #30fa36;
    border: 1px solid black;
    color: black;
    width: 10%;
    height: 30px;
    padding: 3px 0px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 2px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-left: 80px;
  }
  
  .add-btn:hover, .add-btn:active {
    background-color: #30fa36;
    border: 3px solid rgb(160, 160, 160);
    color: black;
    border-radius: 10px;
  }

  .clear-btn {
    background-color: #e7ff13;
    border: 1px solid black;
    color: black;
    width: 10%;
    height: 30px;
    padding: 3px 0px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 2px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-left: 7px;
  }
  
  .clear-btn:hover, .clear-btn:active {
    background-color: #e7ff13;
    border: 3px solid rgb(160, 160, 160);
    color: black;
    border-radius: 10px;
  }

  .layout-tb {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  }

  .search-emp-ser {
    margin-bottom: 7px;
    width: 20%;
    height: 31px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid gray;
  }

  .search-btn {
    width: 8%;
    height: 25px;
    padding: 3px 0px;
    text-align: center;
    padding-bottom: 3px;
    text-decoration: none;
    display: inline-block;
    background: #2196F3;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
  }

  .search-btn:hover {
    background: #0b7dda;
  }
